.contact-input {
    font-size: 16px;
    position: relative;
    width: 95%;
    border-radius: 0;
    padding: 16px;
    margin: 20px;
    color: white;
    transition: all .5s;
}

/* .contact-input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100px;
    background-color: red;
    z-index: 99;
} */